*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box; 
}
:root{
    --bottomSize: 80px;
}
body{
    background-image: url("./images/avatar.jpg");
    background-color: rgb(117, 17, 2);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100vw;
    height: 100vh;
}
.app{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}
.full{
    width: 100%;
    height: 100%;
}
.apps{
    margin: 20px;
}
.apps, .apps  .img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

.apps  .img{
    background-color: #3a3a45;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.textCenter{
    text-align: center;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.posCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#openAppEffect{
   width: 0;
   height: 0;
   transition: 0.2s;
   background-color: white;
   z-index: 10000;
}
#openAppEffect.openAppEffect{
    width: 100%;
    height: 100%;
}

.blackBG{
    background-color: black !important;
}
.appScreen{
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 999;
    transition: 0.3s;
    background-color: white;
}
.hide, .hideImportant{
    display: none !important;
}
#bottomPhone{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottomSize);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#circleBottomPhone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}
.closeAppEffect{
    width: 0 !important;
    height: 0 !important;
    min-height: 0;
}
#timer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    width: 100%;
}
#timerScreen{
    color: #ffbdbd;
    background-image: url("./images/blood.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -5px;
}
.card{
    width: 70px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}
.hideBottom{
    height: calc(var(--bottomSize) + 50px);
}
.locked{
    background-color: rgba(220, 220, 220, 0.523);
}
.card{
    background-size: cover;
}
#alert{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: #DDF3D5;
    position: fixed;
    bottom: var(--bottomSize);
    left: 0px;
    border: #9ddc86 2px solid;
    color: #597151;
    display: flex;
    align-items: center;
    padding: 10px;
}
#alert .exitButton{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10001;
}
#alertText{
    max-width: 250px;
    word-wrap: break-word;
}
.openAlert{
    animation-name: openAlert;
    animation-duration: 0.4s;
    transform: translateX(0%);
}
.closeAlert{
    transition: 0.4s;
    transform: translateX(-100%);
}
@keyframes openAlert {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
#game{
    color: black;
}
#startGameButton{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
#gameLevel{
   width: 300px;
   height: 400px;
   background-size: contain;
   border: 1px solid black;
   border-radius: 10px;
   background-repeat: no-repeat;
   background-position: center;
}
.errAlert{
    background-color: #ECC8C5 !important;
    border: #d37f78 2px solid !important;
    color: #B83C37 !important;
}
#timerElm{
    font-family: 'Seven Segment', sans-serif;
    color: red;
}
#buttonBackToGame, #buttonDiamondQOk{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
}
.mAuto{
    margin: auto;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.jC{
    justify-content: center;
}
.max{
    width: 100%;
    height: 100%;
}
.bgWhite{
    background-color: white !important;
}
.gameAnim{
    animation-duration: 2s;
    animation-name: gameAnimation;
    animation-iteration-count: infinite;
}
@keyframes gameAnimation{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(-40deg);
    }
    80%{
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
#blooddroping > div{
    width: calc(100% / 18);
    height: 0;
    background-color: darkred;
    border-radius: 0 0 10px 10px;
    margin-left: -1px;
}
.centerChildOnFlex{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center
}
.bigFont{
    font-size: 70px;
}
.category {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.speed { background: #ff4444; }
.trick { background: #44aa44; }
.logic { background: #4466ff; }
.coming { background: #888; }

.wallet > img{
    width: 150px;
    height: 150px;
}